---
import Box from '@/components/box.astro'
import FormattedDate from '@/components/FormattedDate.astro'
import Base from '@/layouts/Base.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<Base title="Blog" description="Vincent's thoughts and vagaries">
  <main class="mt-16 max-w-xl mx-auto">
    <ul class="flex flex-col gap-y-16">
      {
        posts.map((post) => (
          <Box>
            <a href={`/blog/${post.slug}`}}>
              <article class="max-w-xl mx-auto py-6 px-12 text-center">
								<FormattedDate date={post.data.pubDate} class="font-serif text-teal-700/70" />
                <header class="font-display text-2xl text-teal-800">
                  {post.data.title}
                </header>
                <p class="font-serif text-teal-700 text-lg" set:html={post.data.description} />
              </article>
            </a>
          </Box>
        ))
      }
    </ul>
  </main>
</Base>
